<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>添加项目</title>
    <link rel="stylesheet" href="../../public/stylesheets/index.css"/>
    <script src="../../public/javascripts/addContent.js"></script>
    <script src="../../public/javascripts/functions.js"></script>
    <style>
        .content{
            width: 300px;
            height: 300px;
            margin: 50px auto;
        }
        .content input{
            display: inline-block;
        }
        .content input[type="button"]{
            position: relative;
            left: 114px;
        }
    </style>
</head>
<body>
<div class="content">
    <label>添加的项目名称：</label>
    <input type="text" id="projectName" />
    <input type="button" class="disable" id="submit"  value="下一步" />
</div>
</body>
</html>