<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>添加标签</title>
    <link rel="stylesheet" href="../../public/stylesheets/index.css" />
    <script src="../../public/javascripts/addTags.js"></script>
    <script src="../../public/javascripts/functions.js"></script>
</head>
<body>
<div id="tags" class="tags">
    <form name="addTags" action="" method="post">
        <table>
            <tr>
                <th><label>选择模块：</label></th>
                <td>
                    <div id="tagsSelection">
                    </div>
                </td>
            </tr>
            <tr>
                <th><label>标签名：</label></th>
                <td><input type="text" name="tagName" id="tagName" /></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" name="submit" class="submit" value="添加" /></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>