<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>创建分类树</title>
    <link rel="stylesheet" href="../../public/stylesheets/index.css" />
    <link rel="stylesheet" href="../../public/stylesheets/createTree.css" />
    <script src="../../public/javascripts/functions.js"></script>
    <script src="../../public/javascripts/Tree.js" ></script>
    <script src="../../public/javascripts/jquery.js" ></script>
</head>

<body>
    <div id="tree">
        <h3>项目名称：</h3>
        <label class="root-label">根目录：</label>
        <input type="text" class="name" />
        <a id="root" title="创建根目录"></a>
        <ul>
        </ul>
    </div>
    <input type="button" class="correct" id="submit" value="下一步" />
</body>

</html>