<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$indexTitle}</title>
    <style type="text/css">
    ul,li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .login {
        margin: 0 auto;
        width: 500px;
        height: 300px;
    }
    </style>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form action="index/login" method="post">
            <ul>
                <li>
                    <input type="text" name="user">
                </li>
                <li>
                    <input type="password" name="password">
                </li>
                <li>
                    <input type="submit" value="login">
                </li>
            </ul>
        </form>
    </div>
</body>
</html>