<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{$indexTitle}</title>
        <link rel="stylesheet" href="public/stylesheets/index.css">
    </head>
    <body>
        <div class="welcome_box">
            <h1>PFW</h1>
            <ul>
                欢迎使用PFW！PFW是一个轻量级的框架，它的特点有：
                <li>实现了传统的MVC模式，让你的代码更赏心悦目</li>
                <li>基于REST的智能路由派发，让你赶上时代的潮流</li>
                <li>全新的ORM体验，让你不需要为建立数据库而烦恼</li>
            </ul>
        </div>
    </body>
</html>
