<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>MultiCMS</title>
    <link rel="stylesheet" href="../../public/stylesheets/font.css" />
    <link rel="stylesheet" href="../../public/stylesheets/index.css" />
    <link rel="stylesheet" href="../../public/stylesheets/sidebar.css" />
    <script src='../../public/javascripts/jquery.js'></script>
    <script src="../../public/javascripts/main.js"></script>
    <script src="../../public/javascripts/functions.js"></script>

</head>
<body>
<div class="top1">
            <span>
                <a href="index.html" title="登录">登录</a>
            </span>
</div>
<div class="logo">
            <span>
                <h1>MultiCMS</h1>
            </span>
</div>

<div class="content">
    <div class="sidebar">
        <h2>分类</h2>
        <ul>
            <li>
                <a href="#" id="addContent">添加分类</a>
                <span class="hover"></span>
            </li>
            <li>
                <a href="#" id="web">前端</a>
                <span class="hover"></span>
            </li>
            <li>
                <a href="#">后台</a>
                <span class="hover"></span>
                <ul class="sub-menu">
                    <li>
                        <a href="#" id="jsp">JSP</a>
                        <span class="hover"></span>
                    </li>
                    <li>
                        <a href="#" id="servlet">Servlet</a>
                        <span class="hover"></span>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" id="software">程序开发</a>
                <span class="hover"></span>
                <ul class="sub-menu">
                    <li>
                        <a href="#" id="table">报表/图表制作</a>
                        <span class="hover"></span>
                    </li>
                    <li>
                        <a href="#">模板引擎></a>
                        <span class="hover"></span>
                        <ul class="sub-menu">
                            <li>
                                <a href="#" id="table1">报表/图表制作</a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="#">模板引擎</a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="#">搜索引擎</a>
                                <span class="hover"></span>
                            </li>
                            <li>
                                <a href="#">网络工具包</a>
                                <span class="hover"></span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">搜索引擎</a>
                        <span class="hover"></span>
                    </li>
                    <li>
                        <a href="#">网络工具包</a>
                        <span class="hover"></span>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">应用工具</a>
                <span class="hover"></span>
                <ul class="sub-menu">
                    <li><a href="#">浏览器</a>
                        <span class="hover"></span>
                    </li>
                    <li>
                        <a href="#">杀毒软件</a>
                        <span class="hover"></span>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">游戏/娱乐</a>
                <span class="hover"></span>
                <ul class="sub-menu">
                    <li>
                        <a href="#">休闲游戏</a>
                        <span class="hover"></span>
                    </li>
                    <li>
                        <a href="#">单机游戏</a>
                        <span class="hover"></span>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">其他开源</a>
                <span class="hover"></span>
            </li>
        </ul>
    </div>
	<div class="branch-content">
    <iframe src="" scrolling="auto" frameborder="0" name="mainContent" id="mainContent">

    </iframe>
        </div>
</div>
</body>
</html>