<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>前端页面</h1>
<p>
    CSDN移动：讲讲你们是谁？你们以往的从业经历？

    2009年底，正益无线CEO王国春在北京中关村创立了正益无线(3g2win.com)，开始着手于研发跨平台的移动应用开发系统。在此之前，王国春有着十余年的手机设计及手机浏览器研发经验。

    到2010年下半年，这套跨平台移动应用开发系统雏形即出，面向个人及各种组织团队开发者提供B2D跨平台移动应用开发工具，帮助广大的移动开发者降低App开发门槛，高效快速的开发移动应用，并且还提供一系列增值服务。这款工具自2011年时，正式取名为AppCan。

    正益无线AppCan最初的核心技术团队成员均来自微软、谷歌、爱可信等知名企业，并且一直立足于移动终端和移动操作系统的研发与设计。

    CSDN移动：为什么要做这样一个工具？AppCan认为开发者有什么样的需求？

    2009年、2010年时，智能手机系统已经进入到了一个高速腾飞的时代，特别是3G牌照发布是手机移动应用与互联网结合的助推剂。在大家的视线被IOS和Andriod吸引的同时，王国春所想到的问题是：该怎么把这两个平台交互使用呢?比如，虽然JAVA可以起到一定的跨平台的作用，但是iOS对JAVA的支持非常弱，所以用JAVA实现对跨平台的支持其实也是非常弱的。

    王国春看到，如此多的智能操作平台不可能同时支持所有款机器，跨平台的移动应用开发系统肯定会有非常强劲的市场需求。那时在国内还没有像样的这种移动应用开发工具，而国外的开源工具PhoneGap 在应用效果上仍不是很完美，存在着诸多应用体验上的问题缺陷。

    AppCan解决的最关键的问题，是帮助互联网的开发者快速进入到移动互联网应用开发的领域。我们提供的是一个技术平台，我们自身也是一个技术型的公司，移动互联网处于初级阶段，怎么想方设法开发出好的产品，我们现在主要利用我们的专业技术，给我们的合作伙伴，给我们的移动应用创业者提供一些技术支持和解决方案。

    CSDN移动：AppCan是针对移动开发的哪一个环节？在这个环节中，现在是一种什么状况？格局是什么样的？
    CSDN移动：讲讲你们是谁？你们以往的从业经历？

    2009年底，正益无线CEO王国春在北京中关村创立了正益无线(3g2win.com)，开始着手于研发跨平台的移动应用开发系统。在此之前，王国春有着十余年的手机设计及手机浏览器研发经验。

    到2010年下半年，这套跨平台移动应用开发系统雏形即出，面向个人及各种组织团队开发者提供B2D跨平台移动应用开发工具，帮助广大的移动开发者降低App开发门槛，高效快速的开发移动应用，并且还提供一系列增值服务。这款工具自2011年时，正式取名为AppCan。

    正益无线AppCan最初的核心技术团队成员均来自微软、谷歌、爱可信等知名企业，并且一直立足于移动终端和移动操作系统的研发与设计。

    CSDN移动：为什么要做这样一个工具？AppCan认为开发者有什么样的需求？

    2009年、2010年时，智能手机系统已经进入到了一个高速腾飞的时代，特别是3G牌照发布是手机移动应用与互联网结合的助推剂。在大家的视线被IOS和Andriod吸引的同时，王国春所想到的问题是：该怎么把这两个平台交互使用呢?比如，虽然JAVA可以起到一定的跨平台的作用，但是iOS对JAVA的支持非常弱，所以用JAVA实现对跨平台的支持其实也是非常弱的。

    王国春看到，如此多的智能操作平台不可能同时支持所有款机器，跨平台的移动应用开发系统肯定会有非常强劲的市场需求。那时在国内还没有像样的这种移动应用开发工具，而国外的开源工具PhoneGap 在应用效果上仍不是很完美，存在着诸多应用体验上的问题缺陷。

    AppCan解决的最关键的问题，是帮助互联网的开发者快速进入到移动互联网应用开发的领域。我们提供的是一个技术平台，我们自身也是一个技术型的公司，移动互联网处于初级阶段，怎么想方设法开发出好的产品，我们现在主要利用我们的专业技术，给我们的合作伙伴，给我们的移动应用创业者提供一些技术支持和解决方案。

    CSDN移动：AppCan是针对移动开发的哪一个环节？在这个环节中，现在是一种什么状况？格局是什么样的？
    CSDN移动：讲讲你们是谁？你们以往的从业经历？

    2009年底，正益无线CEO王国春在北京中关村创立了正益无线(3g2win.com)，开始着手于研发跨平台的移动应用开发系统。在此之前，王国春有着十余年的手机设计及手机浏览器研发经验。

    到2010年下半年，这套跨平台移动应用开发系统雏形即出，面向个人及各种组织团队开发者提供B2D跨平台移动应用开发工具，帮助广大的移动开发者降低App开发门槛，高效快速的开发移动应用，并且还提供一系列增值服务。这款工具自2011年时，正式取名为AppCan。

    正益无线AppCan最初的核心技术团队成员均来自微软、谷歌、爱可信等知名企业，并且一直立足于移动终端和移动操作系统的研发与设计。

    CSDN移动：为什么要做这样一个工具？AppCan认为开发者有什么样的需求？

    2009年、2010年时，智能手机系统已经进入到了一个高速腾飞的时代，特别是3G牌照发布是手机移动应用与互联网结合的助推剂。在大家的视线被IOS和Andriod吸引的同时，王国春所想到的问题是：该怎么把这两个平台交互使用呢?比如，虽然JAVA可以起到一定的跨平台的作用，但是iOS对JAVA的支持非常弱，所以用JAVA实现对跨平台的支持其实也是非常弱的。

    王国春看到，如此多的智能操作平台不可能同时支持所有款机器，跨平台的移动应用开发系统肯定会有非常强劲的市场需求。那时在国内还没有像样的这种移动应用开发工具，而国外的开源工具PhoneGap 在应用效果上仍不是很完美，存在着诸多应用体验上的问题缺陷。

    AppCan解决的最关键的问题，是帮助互联网的开发者快速进入到移动互联网应用开发的领域。我们提供的是一个技术平台，我们自身也是一个技术型的公司，移动互联网处于初级阶段，怎么想方设法开发出好的产品，我们现在主要利用我们的专业技术，给我们的合作伙伴，给我们的移动应用创业者提供一些技术支持和解决方案。

    CSDN移动：AppCan是针对移动开发的哪一个环节？在这个环节中，现在是一种什么状况？格局是什么样的？
    CSDN移动：讲讲你们是谁？你们以往的从业经历？

    2009年底，正益无线CEO王国春在北京中关村创立了正益无线(3g2win.com)，开始着手于研发跨平台的移动应用开发系统。在此之前，王国春有着十余年的手机设计及手机浏览器研发经验。

    到2010年下半年，这套跨平台移动应用开发系统雏形即出，面向个人及各种组织团队开发者提供B2D跨平台移动应用开发工具，帮助广大的移动开发者降低App开发门槛，高效快速的开发移动应用，并且还提供一系列增值服务。这款工具自2011年时，正式取名为AppCan。

    正益无线AppCan最初的核心技术团队成员均来自微软、谷歌、爱可信等知名企业，并且一直立足于移动终端和移动操作系统的研发与设计。

    CSDN移动：为什么要做这样一个工具？AppCan认为开发者有什么样的需求？

    2009年、2010年时，智能手机系统已经进入到了一个高速腾飞的时代，特别是3G牌照发布是手机移动应用与互联网结合的助推剂。在大家的视线被IOS和Andriod吸引的同时，王国春所想到的问题是：该怎么把这两个平台交互使用呢?比如，虽然JAVA可以起到一定的跨平台的作用，但是iOS对JAVA的支持非常弱，所以用JAVA实现对跨平台的支持其实也是非常弱的。

    王国春看到，如此多的智能操作平台不可能同时支持所有款机器，跨平台的移动应用开发系统肯定会有非常强劲的市场需求。那时在国内还没有像样的这种移动应用开发工具，而国外的开源工具PhoneGap 在应用效果上仍不是很完美，存在着诸多应用体验上的问题缺陷。

    AppCan解决的最关键的问题，是帮助互联网的开发者快速进入到移动互联网应用开发的领域。我们提供的是一个技术平台，我们自身也是一个技术型的公司，移动互联网处于初级阶段，怎么想方设法开发出好的产品，我们现在主要利用我们的专业技术，给我们的合作伙伴，给我们的移动应用创业者提供一些技术支持和解决方案。

    CSDN移动：AppCan是针对移动开发的哪一个环节？在这个环节中，现在是一种什么状况？格局是什么样的？
</p>
</body>
</html>